<div class="user-detail">
    <div ng-show="$ctrl.isLoading" class="col-xs-12 text-center">
        <img src="images/loading.svg" alt="Loading...">
    </div>

    <div ng-if="!$ctrl.isLoading" class="row">
        <div class="col-xs-3">
            <a class="col-xs-12" ng-href="{{$ctrl.user.html_url}}" target="_blank">
                <img class="img-rounded" ng-src="{{$ctrl.user.avatar_url}}">
            </a>
            <a class="col-xs-12 text-center user-detail-name" ng-href="{{$ctrl.user.html_url}}" target="_blank">
                {{$ctrl.user.name}}
            </a>
        </div>

        <div class="col-xs-9">
            <h2>Repositories</h2>
            <div ng-show="$ctrl.Repos.length == 0">None</div>
            <ul ng-hide="$ctrl.Repos.length == 0">
                <li ng-repeat="repo in $ctrl.Repos">
                    <a class="github-link" ng-href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
                </li>
            </ul>
            
            <h2>Gists</h2>
            <div ng-show="$ctrl.Gists.length == 0">None</div>
            <ul ng-hide="$ctrl.Gists.length == 0">
                <li ng-repeat="gist in $ctrl.Gists">
                    <a class="github-link" ng-href="{{gist.html_url}}" target="_blank">{{gist.description}}</a>
                </li>
            </ul>   
        </div>
    </div>
</div>